<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkbox</title>
</head>
<body>
    <center>
        <h1>Checkbox</h1>
        <form action="{% url 'retrieve' %}" method="POST">
            {% csrf_token %}

            {% for i in webpage %}

                <label for="tn">{{ i.topic_name }}</label>
                <input type="checkbox" name="tn" id="tn" value="{{i}}" > <br>

            {% endfor %}
            <br><br>

            <input type="submit" value="Checkbox">

        </form>
    </center>
</body>
</html>